$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


.box{
  height: 66px;
  width: 66px;
  border-style: solid;
  border-width: thin;
}
.sidebarBox{
  height: 74px;
  width: 74px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.sidebar{
  max-width: 100px;
  float:right;
  background-color:black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:50px;
  display:inline-block;
}

.bigthing{
  background-color:black;
  width:87%;
  display:inline-block;
}






.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
