$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


.changeCheck{
  height:50px;
  width:100%;
  background-color:grey;
  margin-bottom:20px;
  padding-top:10px;
  font-size:20px;
  color:white;
  text-align:center;
}

.box{
  height: 66px;
  width: 66px;
  border-style: solid;
  border-width: thin;
}
.sidebarBox{
  border-style: dashed;
  border-width: 11px;
  border-color: black;
  border-spacing: 1px;
}

.sidebar{
  max-width: 110px;
  float:right;
  background-color:black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:50px;
  display:inline-block;
}

.bigthing{
  background-color:black;
  width:87%;
  display:inline-block;
}

.selected{

  border-color:yellow;

}




.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
