<div ng-controller="AboutCtrl as about">

ddd
{{about.tiles}}
<div class="container noselect">
  <div ng-repeat="(index, value) in about.tiles" >
    <div class="row boxrow">
      <div class="box col-sm-1 nopadding" ng-click="about.increment(index,index2)" ng-repeat="(index2, value2) in value track by $index">
        <img ng-src="{{about.tilePicker(index,index2)}}">
      </div>
    </div>
  </div>
</div>

<button ng-click="about.ade()">hi</button>

<button ng-click="about.increment(index)">he</button>












</div>
